# Cleaning wBudget dataframe

In [1]:
import pandas as pd
import numpy as np 
import pickle

In [2]:
fl_movies_wbudget = pd.read_pickle('fl_movies_wbudget.pickle')

In [4]:
fl_movies_wbudget.drop(columns=['budget','currency','budget_new'], inplace=True)

In [12]:
fl_movies_wbudget = fl_movies_wbudget[fl_movies_wbudget.budget_usd.notna()]

In [14]:
fl_movies_wbudget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 577 entries, 0 to 1658
Data columns (total 18 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   title                                     577 non-null    object
 1   lifetime_gross                            577 non-null    float64
 2   max_theaters                              572 non-null    float64
 3   domestic_opening                          557 non-null    float64
 4   num_opening_theaters                      557 non-null    float64
 5   release_date                              577 non-null    datetime64[ns]
 6   domestic_distributor                      577 non-null    object
 7   domestic_total_gross                      577 non-null    float64
 8   international_total_gross                 577 non-null    float64
 9   earliest_release_location                 577 non-null    object
 10  runtime                                   557 non-null    float64
 11  genres                                    577 non-null    object
 12  crew                                      577 non-null    object
 13  cast                                      577 non-null    object
 14  earliest_release_location_opening_gross   537 non-null    float64
 15  earliest_release_location_original_gross  575 non-null    float64
 16  language                                  577 non-null    object
 17  budget_usd                                577 non-null    object
dtypes: datetime64[ns](1), float64(9), object(8)
memory usage: 85.6+ KB

In [15]:
fl_movies_wbudget.max_theaters.fillna(fl_movies_wbudget.max_theaters.median(), inplace=True)
fl_movies_wbudget.domestic_opening.fillna(fl_movies_wbudget.domestic_opening.median(), inplace=True)
fl_movies_wbudget.num_opening_theaters.fillna(fl_movies_wbudget.num_opening_theaters.median(), inplace=True)
fl_movies_wbudget.runtime.fillna(fl_movies_wbudget.runtime.median(), inplace=True)
fl_movies_wbudget.earliest_release_location_opening_gross.fillna(fl_movies_wbudget.earliest_release_location_opening_gross.median(), inplace=True)
fl_movies_wbudget.earliest_release_location_original_gross.fillna(fl_movies_wbudget.earliest_release_location_original_gross.median(), inplace=True)

In [17]:
fl_movies_wbudget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 577 entries, 0 to 1658
Data columns (total 18 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   title                                     577 non-null    object
 1   lifetime_gross                            577 non-null    float64
 2   max_theaters                              577 non-null    float64
 3   domestic_opening                          577 non-null    float64
 4   num_opening_theaters                      577 non-null    float64
 5   release_date                              577 non-null    datetime64[ns]
 6   domestic_distributor                      577 non-null    object
 7   domestic_total_gross                      577 non-null    float64
 8   international_total_gross                 577 non-null    float64
 9   earliest_release_location                 577 non-null    object
 10  runtime                                   577 non-null    float64
 11  genres                                    577 non-null    object
 12  crew                                      577 non-null    object
 13  cast                                      577 non-null    object
 14  earliest_release_location_opening_gross   577 non-null    float64
 15  earliest_release_location_original_gross  577 non-null    float64
 16  language                                  577 non-null    object
 17  budget_usd                                577 non-null    object
dtypes: datetime64[ns](1), float64(9), object(8)
memory usage: 85.6+ KB

In [21]:
fl_movies_wbudget.describe()

,lifetime_gross,max_theaters,domestic_opening,num_opening_theaters,domestic_total_gross,international_total_gross,runtime,earliest_release_location_opening_gross,earliest_release_location_original_gross
count,5.770000e+02,577.000000,5.770000e+02,577.000000,5.770000e+02,5.770000e+02,577.000000,5.770000e+02,5.770000e+02
mean,1.499083e+06,88.308492,2.268419e+05,40.024263,1.510490e+06,2.431325e+07,116.977470,4.974514e+05,2.336108e+06
std,4.371917e+06,223.925199,9.536343e+05,137.568466,4.388898e+06,7.089820e+07,24.258257,6.396445e+06,1.923158e+07
min,3.100000e+02,1.000000,2.400000e+01,1.000000,3.100000e+02,9.260000e+02,66.000000,2.400000e+01,1.960000e+02
25%,5.786200e+04,7.000000,8.838000e+03,2.000000,5.786200e+04,1.224674e+06,100.000000,1.160000e+04,7.089900e+04
50%,2.708800e+05,26.000000,2.674600e+04,4.000000,2.753870e+05,5.378179e+06,113.000000,3.089600e+04,3.035430e+05
75%,1.055580e+06,77.000000,1.194230e+05,24.000000,1.055580e+06,1.788724e+07,131.000000,1.364700e+05,1.111061e+06
max,5.371002e+07,2503.000000,1.780000e+07,2031.000000,5.371002e+07,8.676043e+08,288.000000,1.521634e+08,4.511766e+08

In [26]:
fl_movies_wbudget[fl_movies_wbudget['budget_usd'] =='Failed to convert.']

,title,lifetime_gross,max_theaters,domestic_opening,num_opening_theaters,release_date,domestic_distributor,domestic_total_gross,international_total_gross,earliest_release_location,runtime,genres,crew,cast,earliest_release_location_opening_gross,earliest_release_location_original_gross,language,budget_usd
87,La veuve de Saint-Pierre,3193889.0,83.0,31702.0,1.0,2001-03-02,Lionsgate,3193889.0,4000000.0,Australia,112.0,Drama History Romance,"Patrice Leconte Director, Claude Faraldo Write...","Juliette Binoche, Daniel Auteuil, Emir Kusturi...",31702.0,3193889.0,French,Failed to convert.
92,Asterix & Obelix: Mission Cleopatra,3115188.0,26.0,26746.0,4.0,2002-06-07,Lionsgate,3115188.0,124912788.0,France,107.0,Adventure Comedy Family Fantasy,"Alain Chabat Director, René Goscinny Writer, A...","Gérard Depardieu, Christian Clavier, Jamel Deb...",30896.0,1444514.0,French,Failed to convert.
211,Read My Lips,1471911.0,45.0,27080.0,1.0,2002-07-05,Magnolia Pictures,1471911.0,3921615.0,France,115.0,Crime Drama Romance Thriller,"Jacques Audiard Director, Jacques Audiard Writ...","Vincent Cassel, Emmanuelle Devos, Olivier Gour...",27080.0,1471911.0,French,Failed to convert.
268,My Wife Is an Actress,1121233.0,38.0,49204.0,7.0,2002-07-12,Sony Pictures Classics,1121233.0,4048205.0,France,95.0,Comedy Drama Romance,"Yvan Attal Director, Yvan Attal Writer, Claude...","Charlotte Gainsbourg, Yvan Attal, Terence Stam...",49204.0,1121233.0,French,Failed to convert.
299,The Piano Teacher,1012069.0,19.0,29671.0,3.0,2002-03-29,Kino International,1012069.0,5753266.0,France,131.0,Drama,"Michael Haneke Director, Michael Haneke Writer...","Isabelle Huppert, Annie Girardot, Benoît Magim...",29671.0,1012069.0,French,Failed to convert.
322,The Man Without a Past,921847.0,31.0,23281.0,2.0,2003-04-04,Sony Pictures Classics,921847.0,8642390.0,Finland,97.0,Comedy Drama Romance,"Aki Kaurismäki Director, Aki Kaurismäki Writer...","Markku Peltola, Kati Outinen, Annikki Tähti, J...",23281.0,921847.0,Finnish,Failed to convert.
668,Stalker,269881.0,6.0,20540.0,1.0,2017-05-05,Janus Films,292049.0,11766.0,Turkey,162.0,Drama Sci-Fi,"Andrei Tarkovsky Director, Arkadiy Strugatskiy...","Alisa Freyndlikh, Aleksandr Kaydanovskiy, Anat...",20540.0,269881.0,Russian,Failed to convert.
776,The Girl from Paris,183266.0,5.0,8280.0,1.0,2003-03-21,Films Philos,183266.0,12629130.0,France,103.0,Comedy Drama,"Christian Carion Director, Christian Carion Wr...","Michel Serrault, Mathilde Seigner, Jean-Paul R...",8280.0,183266.0,French,Failed to convert.
913,Lola Montès,120306.0,4.0,12569.0,3.0,2008-10-10,Rialto Pictures,120306.0,182869.0,France,116.0,Biography Drama Romance,"Max Ophüls Director, Jacques Laurent Writer, M...","Martine Carol, Peter Ustinov, Anton Walbrook, ...",12569.0,120306.0,French,Failed to convert.
1042,No News from God,77858.0,5.0,15271.0,3.0,2003-08-22,First Look International,77858.0,3262524.0,Mexico,112.0,Crime Drama,"Agustín Díaz Yanes Director, Agustín Díaz Yane...","Penélope Cruz, Victoria Abril, Jero García",15271.0,77858.0,Spanish,Failed to convert.
1116,Jauja,60231.0,3.0,8314.0,2.0,2015-03-20,The Cinema Guild,60231.0,1193543.0,Italy,109.0,Adventure Drama Fantasy Western,"Lisandro Alonso Director, Lisandro Alonso Writ...","Viggo Mortensen, Ghita Nørby, Viilbjørk Mallin...",30896.0,524828.0,Spanish,Failed to convert.
1292,Brother,29864.0,49.0,18835.0,49.0,2012-08-24,Music Box Films,29864.0,1579248.0,Venezuela,97.0,Drama Family Sport,"Marcel Rasquin Director, Rohan Jones Writer, M...","Fernando Moreno, Eliú Armas, Alí Rondón, Beto ...",9779.0,23245.0,Spanish,Failed to convert.
1435,How Viktor 'The Garlic' Took Alexey 'The Stud'...,12954.0,8.0,2634.0,8.0,2018-03-23,Carusel,12954.0,99117.0,Russia/CIS,90.0,Crime Drama,"Aleksandr Khant Director, Aleksey Borodachyov ...","Evgeniy Tkachuk, Aleksey Serebryakov, Andrey S...",2634.0,12954.0,Russian,Failed to convert.
1485,Furious,9996.0,15.0,6964.0,15.0,2018-04-20,Carusel,9996.0,10423263.0,Russia/CIS,107.0,Action Drama History War,"Dzhanik Fayziev Director, Ivan Shurkhovetskiy ...","Ilya Malakov, Aleksey Serebryakov, Aleksandr I...",6964.0,9996.0,Russian,Failed to convert.
1490,Anatomy,9660.0,8.0,5725.0,8.0,2000-09-08,Sony Pictures Entertainment (SPE),9660.0,10492298.0,Germany,103.0,Horror Thriller,"Stefan Ruzowitzky Director, Peter Engelmann Wr...","Franka Potente, Benno Fürmann, Anna Loos, Seba...",5725.0,9660.0,German,Failed to convert.
1529,The Film Critic,7358.0,2.0,839.0,2.0,2015-05-15,Music Box Films,7358.0,158533.0,Argentina,98.0,Comedy Drama Romance,"Hernán Guerschuny Director, Hernán Guerschuny ...","Rafael Spregelburd, Dolores Fonzi, Blanca Lewi...",839.0,7358.0,French,Failed to convert.

In [27]:
fl_movies_wbudget = fl_movies_wbudget[fl_movies_wbudget.budget_usd != 'Failed to convert.']

In [28]:
fl_movies_wbudget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 561 entries, 0 to 1658
Data columns (total 18 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   title                                     561 non-null    object
 1   lifetime_gross                            561 non-null    float64
 2   max_theaters                              561 non-null    float64
 3   domestic_opening                          561 non-null    float64
 4   num_opening_theaters                      561 non-null    float64
 5   release_date                              561 non-null    datetime64[ns]
 6   domestic_distributor                      561 non-null    object
 7   domestic_total_gross                      561 non-null    float64
 8   international_total_gross                 561 non-null    float64
 9   earliest_release_location                 561 non-null    object
 10  runtime                                   561 non-null    float64
 11  genres                                    561 non-null    object
 12  crew                                      561 non-null    object
 13  cast                                      561 non-null    object
 14  earliest_release_location_opening_gross   561 non-null    float64
 15  earliest_release_location_original_gross  561 non-null    float64
 16  language                                  561 non-null    object
 17  budget_usd                                561 non-null    object
dtypes: datetime64[ns](1), float64(9), object(8)
memory usage: 83.3+ KB

In [31]:
fl_movies_wbudget['budget_usd'] = fl_movies_wbudget['budget_usd'].astype(float)

In [32]:
fl_movies_wbudget['domestic_total_profit'] = fl_movies_wbudget.domestic_total_gross - (fl_movies_wbudget.budget_usd*(fl_movies_wbudget.domestic_total_gross/(fl_movies_wbudget.domestic_total_gross+fl_movies_wbudget.international_total_gross)))

In [35]:
fl_movies_wbudget['international_total_profit'] = fl_movies_wbudget.international_total_gross - (fl_movies_wbudget.budget_usd*(fl_movies_wbudget.international_total_gross/(fl_movies_wbudget.domestic_total_gross+fl_movies_wbudget.international_total_gross)))

In [84]:
fl_movies_wbudget.reset_index(inplace=True)

In [85]:
fl_movies_wbudget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 22 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   index                                     561 non-null    int64
 1   title                                     561 non-null    object
 2   lifetime_gross                            561 non-null    float64
 3   max_theaters                              561 non-null    float64
 4   domestic_opening                          561 non-null    float64
 5   num_opening_theaters                      561 non-null    float64
 6   release_date                              561 non-null    datetime64[ns]
 7   domestic_distributor                      561 non-null    object
 8   domestic_total_gross                      561 non-null    float64
 9   international_total_gross                 561 non-null    float64
 10  earliest_release_location                 561 non-null    object
 11  runtime                                   561 non-null    float64
 12  genres                                    561 non-null    object
 13  crew                                      561 non-null    object
 14  cast                                      561 non-null    object
 15  earliest_release_location_opening_gross   561 non-null    float64
 16  earliest_release_location_original_gross  561 non-null    float64
 17  language                                  561 non-null    object
 18  budget_usd                                561 non-null    float64
 19  domestic_total_profit                     561 non-null    float64
 20  international_total_profit                561 non-null    float64
 21  year                                      561 non-null    int64
dtypes: datetime64[ns](1), float64(12), int64(2), object(7)
memory usage: 96.5+ KB

In [40]:
fl_movies_wbudget.describe()

,lifetime_gross,max_theaters,domestic_opening,num_opening_theaters,domestic_total_gross,international_total_gross,runtime,earliest_release_location_opening_gross,earliest_release_location_original_gross,budget_usd,domestic_total_profit,international_total_profit
count,5.610000e+02,561.000000,5.610000e+02,561.000000,5.610000e+02,5.610000e+02,561.000000,5.610000e+02,5.610000e+02,5.610000e+02,5.610000e+02,5.610000e+02
mean,1.521129e+06,90.208556,2.327988e+05,40.969697,1.532822e+06,2.466566e+07,117.187166,5.110947e+05,2.384188e+06,9.133302e+06,7.113565e+05,1.635383e+07
std,4.428547e+06,226.783954,9.664964e+05,139.390628,4.445742e+06,7.170026e+07,24.408332,6.486660e+06,1.950173e+07,1.174618e+07,4.267081e+06,6.680137e+07
min,3.100000e+02,1.000000,2.400000e+01,1.000000,3.100000e+02,9.260000e+02,66.000000,2.400000e+01,1.960000e+02,0.000000e+00,-2.170477e+07,-4.391856e+07
25%,6.020000e+04,7.000000,9.357000e+03,2.000000,6.020000e+04,1.235629e+06,100.000000,1.204200e+04,7.337800e+04,2.405156e+06,-1.387623e+05,-1.724429e+06
50%,2.769010e+05,26.000000,2.674600e+04,4.000000,2.769010e+05,5.497219e+06,113.000000,3.089600e+04,3.035430e+05,5.210740e+06,1.496885e+04,4.595733e+05
75%,1.055580e+06,82.000000,1.253430e+05,26.000000,1.055580e+06,1.882540e+07,131.000000,1.500000e+05,1.111061e+06,1.090620e+07,5.217648e+05,1.083796e+07
max,5.371002e+07,2503.000000,1.780000e+07,2031.000000,5.371002e+07,8.676043e+08,288.000000,1.521634e+08,4.511766e+08,8.595550e+07,5.101934e+07,8.375984e+08

In [41]:
fl_movies_wbudget.to_pickle('fl_movies_wbudget2.pickle')

# Adjusting for inflation

In [69]:
fl_movies_wbudget['year'] = pd.DatetimeIndex(fl_movies_wbudget['release_date']).year

In [78]:
fl_movies_wbudget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 561 entries, 0 to 1658
Data columns (total 21 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   title                                     561 non-null    object
 1   lifetime_gross                            561 non-null    float64
 2   max_theaters                              561 non-null    float64
 3   domestic_opening                          561 non-null    float64
 4   num_opening_theaters                      561 non-null    float64
 5   release_date                              561 non-null    datetime64[ns]
 6   domestic_distributor                      561 non-null    object
 7   domestic_total_gross                      561 non-null    float64
 8   international_total_gross                 561 non-null    float64
 9   earliest_release_location                 561 non-null    object
 10  runtime                                   561 non-null    float64
 11  genres                                    561 non-null    object
 12  crew                                      561 non-null    object
 13  cast                                      561 non-null    object
 14  earliest_release_location_opening_gross   561 non-null    float64
 15  earliest_release_location_original_gross  561 non-null    float64
 16  language                                  561 non-null    object
 17  budget_usd                                561 non-null    float64
 18  domestic_total_profit                     561 non-null    float64
 19  international_total_profit                561 non-null    float64
 20  year                                      561 non-null    int64
dtypes: datetime64[ns](1), float64(12), int64(1), object(7)
memory usage: 112.6+ KB

In [80]:
fl_movies_wbudget.dropna(inplace=True)

In [81]:
fl_movies_wbudget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 561 entries, 0 to 1658
Data columns (total 21 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   title                                     561 non-null    object
 1   lifetime_gross                            561 non-null    float64
 2   max_theaters                              561 non-null    float64
 3   domestic_opening                          561 non-null    float64
 4   num_opening_theaters                      561 non-null    float64
 5   release_date                              561 non-null    datetime64[ns]
 6   domestic_distributor                      561 non-null    object
 7   domestic_total_gross                      561 non-null    float64
 8   international_total_gross                 561 non-null    float64
 9   earliest_release_location                 561 non-null    object
 10  runtime                                   561 non-null    float64
 11  genres                                    561 non-null    object
 12  crew                                      561 non-null    object
 13  cast                                      561 non-null    object
 14  earliest_release_location_opening_gross   561 non-null    float64
 15  earliest_release_location_original_gross  561 non-null    float64
 16  language                                  561 non-null    object
 17  budget_usd                                561 non-null    float64
 18  domestic_total_profit                     561 non-null    float64
 19  international_total_profit                561 non-null    float64
 20  year                                      561 non-null    int64
dtypes: datetime64[ns](1), float64(12), int64(1), object(7)
memory usage: 96.4+ KB

In [ ]:
import cpi 
cpi.update()

In [86]:
def inflate_column(column):
    new_column = []
    for i in range(len(fl_movies_wbudget)):
        if fl_movies_wbudget['year'][i] > 2018:
            new_column.append(fl_movies_wbudget[column][i])
        else:
            new_column.append(cpi.inflate(fl_movies_wbudget[column][i],fl_movies_wbudget['year'][i]))
    return new_column

In [87]:
fl_movies_wbudget['domestic_opening_real'] = inflate_column('domestic_opening')

In [88]:
fl_movies_wbudget['domestic_total_gross_real'] = inflate_column('domestic_total_gross')
fl_movies_wbudget['international_total_gross_real'] = inflate_column('international_total_gross')
fl_movies_wbudget['earliest_release_location_opening_gross_real'] = inflate_column('earliest_release_location_opening_gross')
fl_movies_wbudget['earliest_release_location_original_gross_real'] = inflate_column('earliest_release_location_original_gross')
fl_movies_wbudget['budget_usd_real'] = inflate_column('budget_usd')
fl_movies_wbudget['domestic_total_profit_real'] = inflate_column('domestic_total_profit')
fl_movies_wbudget['international_total_profit_real'] = inflate_column('international_total_profit')

In [92]:
fl_movies_wbudget.international_total_gross_real.describe()

count    5.610000e+02
mean     2.729841e+07
std      7.541873e+07
min      1.033725e+03
25%      1.374760e+06
50%      5.763620e+06
75%      2.202906e+07
max      8.887954e+08
Name: international_total_gross_real, dtype: float64

In [93]:
fl_movies_wbudget.international_total_gross.describe()

count    5.610000e+02
mean     2.466566e+07
std      7.170026e+07
min      9.260000e+02
25%      1.235629e+06
50%      5.497219e+06
75%      1.882540e+07
max      8.676043e+08
Name: international_total_gross, dtype: float64

In [94]:
fl_movies_wbudget.drop(columns=["domestic_total_gross", "international_total_gross", "earliest_release_location_opening_gross", "earliest_release_location_original_gross", "budget_usd", "domestic_total_profit", "international_total_profit"], inplace=True)

In [96]:
fl_movies_wbudget.drop(columns=["domestic_opening","lifetime_gross"], inplace=True)

In [97]:
fl_movies_wbudget.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 561 entries, 0 to 560
Data columns (total 21 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   index                                          561 non-null    int64
 1   title                                          561 non-null    object
 2   max_theaters                                   561 non-null    float64
 3   num_opening_theaters                           561 non-null    float64
 4   release_date                                   561 non-null    datetime64[ns]
 5   domestic_distributor                           561 non-null    object
 6   earliest_release_location                      561 non-null    object
 7   runtime                                        561 non-null    float64
 8   genres                                         561 non-null    object
 9   crew                                           561 non-null    object
 10  cast                                           561 non-null    object
 11  language                                       561 non-null    object
 12  year                                           561 non-null    int64
 13  domestic_opening_real                          561 non-null    float64
 14  domestic_total_gross_real                      561 non-null    float64
 15  international_total_gross_real                 561 non-null    float64
 16  earliest_release_location_opening_gross_real   561 non-null    float64
 17  earliest_release_location_original_gross_real  561 non-null    float64
 18  budget_usd_real                                561 non-null    float64
 19  domestic_total_profit_real                     561 non-null    float64
 20  international_total_profit_real                561 non-null    float64
dtypes: datetime64[ns](1), float64(11), int64(2), object(7)
memory usage: 92.2+ KB

In [98]:
fl_movies_wbudget.to_pickle('fl_movies_wbudget3.pickle')